*.csproj
.vscode/
*.sln
Library/
obj/
Temp/
Build/
FSharp/Furst/.vs/
Assets/Plugins/FSharp/System.Xml.XPath.XDocument.dll.meta
Assets/Plugins/FSharp/System.Xml.XPath.XDocument.dll
Assets/Plugins/FSharp/System.Threading.Overlapped.dll.meta
Assets/Plugins/FSharp/System.Threading.Overlapped.dll
Assets/Plugins/FSharp/System.Security.SecureString.dll.meta
Assets/Plugins/FSharp/System.Security.SecureString.dll
Assets/Plugins/FSharp/System.Security.Cryptography.Algorithms.dll.meta
Assets/Plugins/FSharp/System.Security.Cryptography.Algorithms.dll
Assets/Plugins/FSharp/System.Runtime.Serialization.Primitives.dll.meta
Assets/Plugins/FSharp/System.Runtime.Serialization.Primitives.dll
Assets/Plugins/FSharp/System.Net.Sockets.dll.meta
Assets/Plugins/FSharp/System.Net.Sockets.dll
Assets/Plugins/FSharp/System.Net.Http.dll.meta
Assets/Plugins/FSharp/System.Net.Http.dll
Assets/Plugins/FSharp/System.IO.Compression.dll.meta
Assets/Plugins/FSharp/System.IO.Compression.dll
Assets/Plugins/FSharp/System.Globalization.Extensions.dll.meta
Assets/Plugins/FSharp/System.Globalization.Extensions.dll
Assets/Plugins/FSharp/System.Diagnostics.Tracing.dll.meta
Assets/Plugins/FSharp/System.Diagnostics.Tracing.dll
Assets/Plugins/FSharp/System.Diagnostics.StackTrace.dll.meta
Assets/Plugins/FSharp/System.Diagnostics.StackTrace.dll
Assets/Plugins/FSharp/System.Data.Common.dll.meta
Assets/Plugins/FSharp/System.Data.Common.dll
